version: '3.8'
services:
  arangodb:
    image: arangodb:latest
    ports:
      - "8529:8529"
    environment:
      - ARANGO_ROOT_PASSWORD=password
    volumes:
      - arango_data:/var/lib/arangodb3
volumes:
  arango_data:
