services:
  db:
    image: apache/age:latest
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5436:5432"
    volumes:
      - postgres_data_age:/var/lib/postgresql/data

volumes:
  postgres_data_age:
