version: '3.8'
services:
  postgres:
    image: postgres:16
    ports:
      - "5437:5432"
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_recursive_data:/var/lib/postgresql/data
volumes:
  postgres_recursive_data:
